html, body {
    height: 100%;
    width: 100%;
    @extend .font;    
}
html, 
body,
* {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background-color: grey;
} 
*::-webkit-scrollbar-thumb {
    background: orangered;
}
*::selection ,
*::-moz-selection {
    background-color:transparent;
} 
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 70px 20px 20px;
    text-align: center;
}
.middle-vertical-align {
    display: table-cell;
    vertical-align: middle;
}
.bg-blue {
    background-color: $blue;
}
.bg-orange {
    background-color: $orange;
}
.bg-red {
    background-color: $red;
}
.bg-yellow {
    background-color: $yellow;
}
.SubjectPageHeadings {
    position: absolute;
    top: 0;
    margin: 20px;
    color: $blue;
}
.page-title {
    @extend .SubjectPageHeadings;
    right: 10px;
}
.homeArrowButton {
    @extend .SubjectPageHeadings;
    left: 0;
}

svg#filters {
    display: none;
}
input[type="text"], textarea, [contenteditable]
{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $white inset !important;
    box-shadow: 0 0 0 30px $white inset !important;
    -webkit-text-fill-color: $grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .heading-font;
}
// .page-loader {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 9999;
//     width: 100vw;
//     height: 100vh;
//     background: url('../img/svg/bars.svg') 50% 50% no-repeat $purple;
// }

.heading-font {
    font-family: 'Comfortaa', Helvetica, sans-serif;
    font-weight: bold;
}
.nav-font {
    font-family: 'Jura', Arial, sans-serif;    
}
.font {
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 1px;    
    font-weight: bold;
}

div.form-group {
    margin: 30px 10px;
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
}
label.form-label {
    @include transition-all(); 
    cursor: pointer;
    font-size: 18px;
    color: $purple;
    display: inline-block;
    position: absolute;
    top: -7px;
    &.active {
        top: -10px;
        font-size: 12px;
        transform-origin: left top;   
    }
}
input.form-group-item {
    display: block;
    color: $grey;
    background: none;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: 2px solid $purple;
    &:active,
    &:focus {
        outline: none;
        outline-style: none;
        ~ label {
            top: -15px;
            font-size: 10px;
            transform-origin: left top;
        }
    }
}