span.subscript {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

span.superscript {
    position: relative;
    bottom: 0.5em;
    font-size: 0.8em;
}

div.fraction {
    display: inline-block;
    vertical-align: middle;
    .denominator {
        display: block;
        padding: 5px;
    }
    .numerator {
        @extend .denominator;
        border-bottom: 1px solid;    
    }
}

div.lim {
    display: inline-block;
    vertical-align: middle;
    .top {
        display: block;
        margin-bottom: -5px;
    }
    .bottom {
        display: block;
        font-size: medium;
        margin-top: -5px;
    }
}
