// index.hbs
section#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a.subject {
        @include box-shadow(0, 3px, 16px, 0, rgba(0,0,0,.4));
        margin: 15px;
        padding: 2rem;
        color: $purple;
        text-decoration: none;
        background-color: $red;
        &:hover,
        &:focus {
            text-decoration: none;
            .subject-title {
                font-size:  1.5rem;
            }
            .subject-description {
                opacity: 1;
            }
        }
        .subject-title {
            @include transition-all();
        }
        .subject-description {
            @include transition-all();
            opacity: 0;
            color: $grey;
        }
    }
}

// Subject*.hbs

section.subject-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: table;
    position: initial;
    .content {
        padding: 20px;
        text-align: center;
        color: $purple;
        .description {
            word-spacing: 5px;
            line-height: 46px;
            font-size: 1.7em;
            &#intro-description {
                max-width: 50vw;
                margin: 20px auto;
            }
            span {
                font-weight: bolder;
                display: inline-block;
            }
        }
        hr {
            border-radius: 10px;
            margin: 30px auto;
            width: 0;
        }
    }
    &[id^="seq-"] {
        span {
            color: $red;            
        }
        hr {
            border: 1px solid $red;            
        }
    }
    &#seq-example-1 {
        #example1 {
            opacity: 0;
        }
    }
    &#seq-example-2 {
        .box {
            @extend .heading-font;
            left: 100%;
            display: inline-block;
            margin: 0;
            padding: 3px;
            position: relative;
        }
    }
    &#seq-example-3 {
        padding: 0 20px 20px;
        .content {
            padding-top: 0;
        }
    }
    &#seq-example-4 {
        @extend #seq-example-3;
        #example4 {
            @include transform(scale(1.5));
        }
    }
    &#seq-example-5 {
        .content {
            padding: 0;
            #example5-pin {
                padding: 20px 0;
                width: 100%;
                #convergent-headings,
                #divergent-headings {
                    max-width: 50%;                    
                }
                .convergent-heading,
                .divergent-heading {
                    @extend .heading-font;
                    bottom: 0;
                    position: relative;
                    display: block;
                    margin: 25px 0;
                    &:not(:first-child) {
                        color: $orange;
                        font-size: small;
                    }
                }
                #divergent,
                #convergent {
                    width: 50%;
                    display: inline-block;
                    clear: both;
                    letter-spacing: 0px;
                }
                #divergent,
                #divergent-headings {
                    float: left;
                    text-align: left;
                    svg {
                        position: absolute;
                    }
                }
                #convergent,
                #convergent-headings {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
    &[id^="lim-"] {
        span {
            color: $blue;
        }
        hr {
            border: 1px solid $blue;            
        }
    }
    &#lim-example-1 {
        text-align: center;
        #example1 {
            font-size: 1.5em;
        }
        sup, sub {
            color: $blue;
            font-weight: bolder;            
        }
        .content > svg {
            margin: 100px auto;
            overflow: visible;   
        }
    }
    &#lim-example-2 {
        padding: 0; //overflow width fix
        #example2 {
            position: relative;
            padding: 20px 10px;
            max-width: 75%;
            margin: 10px auto;
            div.fraction {
                display: inline-block;
            }
            > svg {
                position: absolute;
                overflow: visible;
                left: 0;
                top: 0;
            }
        }
        #example2-params {
            margin-top: 0;
            div {
                margin-top: 40px;
            }
            input#nthTerm {
                background-color: transparent;
                outline: none;
                border: none;
                position: absolute;
                color: $blue;
                &:active,
                &:focus {
                    background-color: transparent;
                    outline: none;
                    border: none;
                }
            }
        }
        svg#sequenceSVG {
            margin: 50px auto;
            overflow: visible;
        }
    }

    &#lim-example-3 {
        #example3 {
            color: $blue;
        }
        div.lim-stagger:nth-child(odd) {
            margin: 20px;
            color: $orange;
        }
        .property.then {
            text-align: left;
            margin-top: 0;
        }
        .property-number {
            margin-right: 20px;
            color: $orange;
        }
        h4.property {
            margin: 40px auto;
        }
    }
}

#scrollReminder {
    position: absolute;
    text-align: center;
    width: 100%;
}

h1#eight {
    text-align: center;
    color: $blue;
    margin-top: 100px;
}