$purple: #2E0927;
$red : #D90000;
$orange: #F1451F;
$yellow: #FF8C00;
$blue: #04756F;

$white: #DAEDE2 !default;
$white-light: #eff9f3 !default;
$grey: #2F343B !default;
$grey-light: #aaa !default;
$grey-lighter: #eee !default;
