<footer>    
    <ul>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
</footer>