    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<nav>
    <ul>
        <li><a class="page-scroll" href="#home">Home</a></li>
        <li><a class="page-scroll" href="#about">About Us</a></li>
        <li><a class="page-scroll" href="#contact">Contact</a></li>
    </ul>
</nav>