<!DOCTYPE html>
<html>

<head>
  {{> meta}}
  <title></title>

  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/alerts.css" type="text/css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  
  <script href="https://use.fontawesome.com/d4632b623f.js"></script>
  
  <!--Google fonts Plugin-->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Jura|Advent+Pro" rel="stylesheet">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- <script src="jquery-1.9.1.min.js"></script> -->
  <!-- <script src="jquery.easing.1.3.min.js"></script> -->

</head>

<body>
  <div class="page-loader"></div>
   <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div class="container">
    <nav>
      <ul>
        <li><a class="page-scroll" href="#home">Home</a></li>
        <li><a class="page-scroll" href="#about">About Us</a></li>
        <li><a class="page-scroll" href="#contact">Contact</a></li>
      </ul>
    </nav>

    <section id="home">
      <a class="subject" href="/sequences" aria-labelledby="sequences" aria-describedby="sequences-description">
        <h3 id="sequences" class="subject-title">Sequences</h3>
        <small id="sequences-description" class="subject-description">A sequence is a collection of numbers (possibly infinite) that can appear multiple times at deferent positions in the sequence.
        </small>
        </a>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
    </section>


    <section id="about"></section>
    <section id="contact"></section>
  </div>


  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- jQuery Mobile -->
  <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">  -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>  -->

  <!-- jQuery UI -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="js/main.js"></script>
  <script src="js/alerts.js"></script>

</body>

</html>