<!DOCTYPE html>
<html>

<head>
  {{> meta}}
  {{> links}}
  <title>Interactive Tutorials</title>
</head>

<body>
    <div class="container">
    {{> nav}}

    <section id="home" class="bg-blue">
      <a class="subject" href="/sequences" aria-labelledby="sequences" aria-describedby="sequences-description">
        <h3 id="sequences" class="subject-title">Sequences</h3>
        <small id="sequences-description" class="subject-description">A sequence is a collection of numbers (possibly infinite) that can appear multiple times at deferent positions in the sequence.
        </small>
        </a>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
      <div class="subject">
        <h3 class="subject-title"><a href="/"></a></h3>
      </div>
    </section>


    <section id="about" class="bg-orange"></section>
    <section id="contact" class="bg-yellow"></section>
    {{> footer}}
  </div>

</body>

</html>