<!DOCTYPE html>
<html>

<head>
    {{> meta}} {{> links}}
    <title>Sequences</title>
    {{!-- <script src="js/subjects/limits.js"></script> --}}
</head>

<body>

    <div class="container bg-orange">
        <a class="homeArrowButton" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <h2 class="page-title">Limits</h2>
        <main>
            <section id="intro" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="intro-description" class="description">
                        For a sequence <span>a<sub>n</sub></span> to have a limit <span>L</span>, means it's distance from the limit can be <span>as less</span> as we please, so that <span>|a<sub>n</sub> - L|</span> tends to <span>0</span>.                        
                    </h4>
                </div>
            </section>

            <section id="lim-example-1" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="example1">
                        <span>Limits</span>
                    </h4>
                    <h4 class="description" id="example1-description">

                    </h4>
                </div>
            </section>
        </main>

        {{> scrollReminder}}
    </div>
    {{!-- end of container --}}
</body>

</html>
