<!DOCTYPE html>
<html>

<head>
    <script src="js/ScrollMagic.js"></script>
    {{> meta}} {{> links}}
    <title>Sequences</title>
    <script src="js/subjects/limits.js"></script>

</head>

<body>

    <div class="container bg-orange">
        <a class="homeArrowButton" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <h2 class="page-title">Limits</h2>
        <main>
            <section id="lim-intro" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="intro-description" class="description">
                        For a sequence <span>a<sub>n</sub></span> to have a limit <span>L</span>, means it's distance from
                        the limit can be <span>as less</span> as we please, so that <span>|a<sub>n</sub> - L|</span> tends
                        to <span>0</span>.
                    </h4>
                </div>
            </section>

            <section id="lim-example-1" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="example1">
                        <span><strong>c</strong><sub>n</sub></span> = { <span>1</span>,
                        <sup>1</sup>&frasl;<sub>2</sub>,
                        <sup>1</sup>&frasl;<sub>4</sub>,
                        <sup>1</sup>&frasl;<sub>8</sub>,
                        <sup>1</sup>&frasl;<sub>16</sub>, …}
                    </h4>
                    <h4 class="description" id="example1-description">
                        Any term of <span><strong>c</strong><sub>n</sub></span> has a difference <span>ε</span> from its
                        limit <span>L</span>.
                    </h4>
                </div>
            </section>

            <section id="lim-example-2" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="example2">
                        <strong>c</strong><sub>n</sub> = {
                        <sup>1</sup>&frasl;<sub>2</sub>,
                        <sup>2</sup>&frasl;<sub>3</sub>,
                        <sup>3</sup>&frasl;<sub>4</sub>,
                        <sup>4</sup>&frasl;<sub>5</sub>, …}

                        <svg>
                            <rect id="example2-frame" stroke="#FF8C00" stroke-width="3" fill="transparent"></rect>
                        </svg>
                    </h4>
                    <h4 class="description" id="example2-description">
                        meaning that the <span>distance</span> between the <span>sequence</span> and its <span>limit</span>                        will <span>always</span> be present
                    </h4>

                    <svg id="distanceSVG">
                        <g stroke="#2F343B" stroke-width="3" stroke-linecap="round">
                            <line class="bound" x1="2" y1="0" x2="2" y2="80" />
                            <text x="-2" y="100">0</text>
                        </g>
                        <rect x="3" y="15" height="50" id="distanceRect" fill="#04756F"></rect>
                        <g stroke="#FF8C00" stroke-width="1.8" stroke-linecap="round">
                            <line class="distance" x1="5" y1="10" x2="5" y2="70" />
                            <text class="distance" x="-5" y="100" id="sequenceTerm"></text>
                        </g>
                        <g stroke="#2F343B" stroke-width="3" stroke-linecap="round">
                            <line class="bound" x1="240" y1="0" x2="240" y2="80"/>
                            <text x="240" y="100">1</text>
                        </g>
                    </svg>
                </div>
            </section>

            <section id="lim-example-3" class="subject-section">
                <div class="content middle-vertical-align">
                    <h4 id="example3">
                        <strong>c</strong><sub>n</sub> = { 1,
                        <sup>1</sup>&frasl;<sub>2</sub>,
                        <sup>1</sup>&frasl;<sub>4</sub>,
                        <sup>1</sup>&frasl;<sub>8</sub>,
                        <sup>1</sup>&frasl;<sub>16</sub>, …}
                    </h4>
                    <h4 class="description" id="example3-description">
                    </h4>
                </div>
            </section>
        </main>

        {{> scrollReminder}}
    </div>
    {{!-- end of container --}}
    <div class="page-loader"></div>
</body>

</html>