<!DOCTYPE html>
<html>

<head>
    {{> meta}} {{> links}}
    <title>Sequences</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="js/animation.gsap.js"></script>

    <script src="js/subjects/sequences.js"></script>
</head>

<body>

    <div class="container">
        <a class="homeArrowButton" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <h2 class="page-title">Sequences</h2>
        <main>
            <section id="intro" class="subject-section">
                <div class="content">
                    <h4 id="intro-description" class="description">
                        A sequence is a <span>collection</span> of numbers (possibly infinite) that can appear <span>multiple</span>                        times at different positions in the sequence.
                    </h4>
                </div>
            </section>

            <section id="example-1" class="subject-section">
                <div class="content">
                    <h4 id="example1">
                        <strong>a</strong><span class="subscript">n</span> = {2, 7, 100, 5.6, …}
                    </h4>
                    <hr id="example1-hr">
                    <h4 class="description" id="example1-description">
                        Could be just random numbers
                    </h4>
                </div>
            </section>

            <section id="example-2" class="subject-section">
                <div class="content">
                        <div class="box">
                            <strong>b</strong><span class="subscript">n</span> = 
                        </div>
                        <div class="box">
                        {
                        </div>
                        <div class="box">
                        1,
                        </div>                        
                        <div class="box">
                        2,
                        </div>
                        <div class="box">
                        3,
                        </div>
                        <div class="box">
                        4,
                        </div>
                        <div class="box">
                        5,
                        </div>
                        <div class="box">
                        …
                        </div>
                        <div class="box">
                        }
                        </div>
                        <hr id="example2-hr">                        
                        <h4 class="description" id="example2-description">
                            or following a pattern 
                        </h4>
                </div>
            </section>

            <section id="example-3" class="subject-section">
                <div class="content">
                    <h4 id="example3">
                        <strong>c</strong><span class="subscript">n</span> = {1, 0, 1, 0, 1, …}
                    </h4>
                    <hr>                    
                    <h4 class="description" id="example3-description">
                        or binary! 
                    </h4>
                </div>
            </section>
        </main>

        <div id="scrollReminder">
            <p>Scroll for some math magic!</p>
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
    </div>
</body>

</html>