html, body {
  height: 100%;
  width: 100%; }

html,
body,
* {
  box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

*::-webkit-scrollbar {
  width: 5px; }

*::-webkit-scrollbar-track {
  background-color: grey; }

*::-webkit-scrollbar-thumb {
  background: orangered; }

*::selection,
*::-moz-selection {
  background-color: transparent; }

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 70px 20px 20px;
  text-align: center; }

.middle-vertical-align {
  display: table-cell;
  vertical-align: middle; }

.bg-blue {
  background-image: linear-gradient(180deg, #04756F, #016965 90%);
  -ms-background-image: linear-gradient(180deg, #04756F, #016965 90%);
  -webkit-background-image: linear-gradient(180deg, #04756F, #016965 90%);
  -moz-background-image: linear-gradient(180deg, #04756F, #016965 90%); }

.bg-orange {
  background-image: linear-gradient(180deg, #F1451F, #DA2902 90%);
  -ms-background-image: linear-gradient(180deg, #F1451F, #DA2902 90%);
  -webkit-background-image: linear-gradient(180deg, #F1451F, #DA2902 90%);
  -moz-background-image: linear-gradient(180deg, #F1451F, #DA2902 90%); }

.bg-red {
  background-image: linear-gradient(180deg, #D90000, #CB0101 90%);
  -ms-background-image: linear-gradient(180deg, #D90000, #CB0101 90%);
  -webkit-background-image: linear-gradient(180deg, #D90000, #CB0101 90%);
  -moz-background-image: linear-gradient(180deg, #D90000, #CB0101 90%); }

.bg-yellow {
  background-image: linear-gradient(180deg, #FF8C00, #DB7801 90%);
  -ms-background-image: linear-gradient(180deg, #FF8C00, #DB7801 90%);
  -webkit-background-image: linear-gradient(180deg, #FF8C00, #DB7801 90%);
  -moz-background-image: linear-gradient(180deg, #FF8C00, #DB7801 90%); }

.bg-purple {
  background-image: linear-gradient(180deg, #2E0927, #24051E 90%);
  -ms-background-image: linear-gradient(180deg, #2E0927, #24051E 90%);
  -webkit-background-image: linear-gradient(180deg, #2E0927, #24051E 90%);
  -moz-background-image: linear-gradient(180deg, #2E0927, #24051E 90%); }

.bg-green {
  background-image: linear-gradient(180deg, #9FF226, #73B613 90%);
  -ms-background-image: linear-gradient(180deg, #9FF226, #73B613 90%);
  -webkit-background-image: linear-gradient(180deg, #9FF226, #73B613 90%);
  -moz-background-image: linear-gradient(180deg, #9FF226, #73B613 90%); }

.SubjectPageHeadings, .page-title, .homeArrowButton {
  position: absolute;
  top: 0;
  margin: 20px;
  color: #04756F; }

.page-title {
  right: 10px; }

.homeArrowButton {
  left: 0; }

svg#filters {
  display: none; }

input[type="text"], textarea, [contenteditable] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #DAEDE2 inset !important;
  box-shadow: 0 0 0 30px #DAEDE2 inset !important;
  -webkit-text-fill-color: #2F343B; }

a,
a:link,
a:focus,
a:active,
a:visited,
a:any-link,
a:-moz-any-link,
a:-webkit-any-link {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  -moz-hyperlinktext: inherit;
  -moz-visitedhyperlinktext: inherit;
  -moz-activehyperlinktext: inherit; }

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: url("../img/circles.svg") 50% 50% no-repeat #F1451F; }

.heading-font, h1,
h2,
h3,
h4,
h5,
h6, section.subject-section#seq-example-2 .box, section.subject-section#seq-example-5 .content #example5-pin .convergent-heading,
section.subject-section#seq-example-5 .content #example5-pin .divergent-heading {
  font-family: 'Comfortaa', Helvetica, sans-serif;
  font-weight: bold; }

.nav-font, nav {
  font-family: 'Jura', Arial, sans-serif; }

.font, html, body {
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 1px;
  font-weight: bold; }

div.form-group {
  margin: 30px 10px;
  width: 100%;
  display: flex;
  position: relative;
  text-align: center; }

label.form-label {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
  font-size: 18px;
  color: #2E0927;
  display: inline-block;
  position: absolute;
  top: -7px; }
  label.form-label.active {
    top: -10px;
    font-size: 12px;
    transform-origin: left top; }

input.form-group-item {
  display: block;
  color: #2F343B;
  background: none;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: 2px solid #2E0927; }
  input.form-group-item:active, input.form-group-item:focus {
    outline: none;
    outline-style: none; }
    input.form-group-item:active ~ label, input.form-group-item:focus ~ label {
      top: -15px;
      font-size: 10px;
      transform-origin: left top; }

section#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  section#home a.subject {
    flex-basis: auto;
    flex-flow: row wrap;
    margin: 5px;
    display: table;
    min-width: 100px;
    min-height: 100px;
    opacity: 0.7;
    color: #FF8C00;
    text-decoration: none;
    background-color: #b7ab69; }
    section#home a.subject:hover, section#home a.subject:focus {
      text-decoration: none;
      opacity: 1;
      padding: 20px;
      max-width: 70px; }
      section#home a.subject:hover .subject-title, section#home a.subject:focus .subject-title {
        font-size: 20px; }
      section#home a.subject:hover .subject-description, section#home a.subject:focus .subject-description {
        position: relative;
        opacity: 1; }
    section#home a.subject .subject-title {
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
      margin: 0;
      vertical-align: middle;
      display: table-cell;
      padding: 20px;
      font-size: 14px; }
    section#home a.subject .subject-description {
      -webkit-transition: "all 2s ease-in-out";
      -moz-transition: "all 2s ease-in-out";
      -ms-transition: "all 2s ease-in-out";
      -o-transition: "all 2s ease-in-out";
      transition: "all 2s ease-in-out";
      display: table-row;
      position: absolute;
      opacity: 0;
      color: #2F343B;
      width: 0;
      height: 0;
      left: 0;
      top: 0; }

section.subject-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: table;
  position: initial; }
  section.subject-section .content {
    padding: 20px;
    text-align: center;
    color: #2E0927; }
    section.subject-section .content .description {
      word-spacing: 5px;
      line-height: 36px;
      font-size: 1.5em; }
      section.subject-section .content .description span {
        font-weight: bolder;
        display: inline-block; }
    section.subject-section .content hr {
      border-radius: 10px;
      margin: 30px auto;
      width: 0; }
  section.subject-section[id^="seq-"] span {
    color: #D90000; }
  section.subject-section[id^="seq-"] hr {
    border: 1px solid #D90000; }
  section.subject-section#seq-example-1 #example1 {
    opacity: 0; }
  section.subject-section#seq-example-2 .box {
    left: 100%;
    display: inline-block;
    margin: 0;
    padding: 3px;
    position: relative; }
  section.subject-section#seq-example-3, section.subject-section#seq-example-4 {
    padding: 0 20px 20px; }
    section.subject-section#seq-example-3 .content, section.subject-section#seq-example-4 .content {
      padding-top: 0; }
  section.subject-section#seq-example-4 #example4 {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); }
  section.subject-section#seq-example-5 .content {
    padding: 0; }
    section.subject-section#seq-example-5 .content #example5-pin {
      padding: 20px 0;
      width: 100%; }
      section.subject-section#seq-example-5 .content #example5-pin #convergent-headings,
      section.subject-section#seq-example-5 .content #example5-pin #divergent-headings {
        max-width: 50%; }
      section.subject-section#seq-example-5 .content #example5-pin .convergent-heading,
      section.subject-section#seq-example-5 .content #example5-pin .divergent-heading {
        bottom: 0;
        position: relative;
        display: block;
        margin: 25px 0; }
        section.subject-section#seq-example-5 .content #example5-pin .convergent-heading:not(:first-child),
        section.subject-section#seq-example-5 .content #example5-pin .divergent-heading:not(:first-child) {
          color: #F1451F;
          font-size: small; }
      section.subject-section#seq-example-5 .content #example5-pin #divergent,
      section.subject-section#seq-example-5 .content #example5-pin #convergent {
        width: 50%;
        display: inline-block;
        clear: both;
        letter-spacing: 0px; }
      section.subject-section#seq-example-5 .content #example5-pin #divergent,
      section.subject-section#seq-example-5 .content #example5-pin #divergent-headings {
        float: left;
        text-align: left; }
        section.subject-section#seq-example-5 .content #example5-pin #divergent svg,
        section.subject-section#seq-example-5 .content #example5-pin #divergent-headings svg {
          position: absolute; }
      section.subject-section#seq-example-5 .content #example5-pin #convergent,
      section.subject-section#seq-example-5 .content #example5-pin #convergent-headings {
        float: right;
        text-align: right; }
  section.subject-section[id^="lim-"] span {
    color: #04756F; }
  section.subject-section[id^="lim-"] hr {
    border: 1px solid #04756F; }
  section.subject-section#lim-example-1 sup, section.subject-section#lim-example-1 sub {
    color: #04756F;
    font-weight: bolder; }
  section.subject-section#lim-example-2 {
    padding: 0; }
    section.subject-section#lim-example-2 #example2 {
      position: relative;
      padding: 20px 10px;
      max-width: 75%;
      margin: 10px auto; }
      section.subject-section#lim-example-2 #example2 svg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0; }
    section.subject-section#lim-example-2 .content > svg {
      position: absolute;
      overflow: visible; }
  section.subject-section#lim-example-3 #example3 {
    transform: scaleY(3);
    opacity: 0; }
  section.subject-section#lim-example-3 #example3-description div.lim {
    display: block; }
  section.subject-section#lim-example-3 #example3-description span.lim-stagger {
    vertical-align: middle; }

#scrollReminder {
  position: absolute;
  text-align: center;
  width: 100%; }

h1#eight {
  text-align: center;
  color: #04756F;
  margin-top: 100px; }

nav {
  position: fixed;
  z-index: 999; }
  nav ul {
    list-style: none;
    position: fixed; }
    nav ul li {
      display: inline-block;
      margin: 10px; }
      nav ul li a {
        text-decoration: none;
        color: #D90000; }

footer {
  bottom: 0;
  min-height: 100px;
  width: 100%;
  background-color: #2F343B;
  text-align: center;
  display: table; }
  footer ul {
    vertical-align: middle;
    display: table-cell;
    list-style: none;
    padding: 20px;
    margin: 10px; }
    footer ul > li {
      display: inline-block;
      padding: 10px; }
      footer ul > li > a {
        color: #aaa; }

span.subscript {
  position: relative;
  top: 0.5em;
  font-size: 0.8em; }

span.superscript {
  position: relative;
  bottom: 0.5em;
  font-size: 0.8em; }
